{% include 'header.html' %}
<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">
            Login
        </h5>
        <div class="container-fluid">
            <form action="" method="post">
                {% csrf_token %} <!--use for safty purpose-->
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Email ID</label>
                            <input type="email" name="emailid" class="form-control" placeholder="Enter email Id"required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                        </div>
                    </div>
                </div>
                    
                
            
                <input type="submit" value="login" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>


{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location = "{% url 'Customer_home' %}";
</script>
{% endif %}

{% if error %}
<script>
    alert('Invalid Login Credentials, Try Again...');
</script>
{% endif %}
